$bg-gradient: linear-gradient(to right, rgb(60, 106, 245), rgb(52, 139, 245));
$bg-blue: rgb(20, 38, 195);
$shadow: 0 4px 20px #0004;
$radius: 3px;
$border: 1px solid;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid red;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: $bg-gradient;
    @include center();
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.keyboard{
    width: 440px;
    height: 290px;
    background-color: $bg-blue;
    box-shadow: $shadow;
    border-radius: $radius;
    padding: .6rem;
    color: #eee;
}

.inputed-values{
    min-height: 26%;
    @include center();
    justify-content: flex-start;
    padding: .7rem;
    font-size: 28px;
    border-bottom: $border rgb(157, 157, 182);
}

// .keys{
//     display: grid;
//     grid-template-columns: repeat(10, 1fr);
//     gap: 4px;
//     padding: .3rem;
// }

.key{
    padding: .5rem;
    @include center();
    cursor: pointer;
    border-radius: $radius;
}

.keys > div{
    display: flex;
    justify-content: space-around;
}