@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to top right, #263A95, #1468C2);
}