@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

svg {
  font-size: 40px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  background: transparent;
}
button#restartBtn {
  font-size: 20px;
  padding: 0.3rem 1rem;
  background: linear-gradient(to top right, rgb(30, 53, 100), rgb(17, 33, 112));
  color: #eee;
}

button:disabled {
  cursor: not-allowed;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: radial-gradient(rgb(243, 252, 255), rgb(218, 218, 240));
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  color: color-mix(in oklab, midnightblue, black);
}

.container {
  width: 80%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid midnightblue;
}

.scores {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.scores > div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
